.card.small-right {
	width:20rem;
	margin-right:0;
}
.uhh {
	font-weight: bold;
	padding-right:15px;
}
.vert-spacer {
	display: inline-block;
    margin: 0 5px;
}
.material-icons.align {
	position: relative;
    top: 0.25rem;
}