.postContainer {
	text-align: center;
    width: 83%;
    margin: auto;
    margin-bottom: 0.8rem;
    padding: 1rem;
    max-width: 1200px;
}
.postSeparator {
	display: inline-block;
    width: 4%;
}
.left, .right {
	width: 47%;
    display: inline-block;
    text-align: left;
	vertical-align: text-top;
}
hr {
	border:0px;
}
.post-avatar {
	width:10%;
	display:inline-block;
	position: relative;
    bottom: 0.6rem;
}
.post-votes {
	width: 6%;
    display: inline-block;
    text-align: center;
}
.material-icons.votes {
	font-size:20px;
}
.small-spacer {
	display: inline-block;
	width:0.2em;
}
h4.post-title {
    display: inline-block;
    width: 64%;
    position: relative;
    bottom: 1.7rem;
    height: 54px;
    line-height: 54px;
    margin-left: 10px;
}
.post-timestamp {
	display:inline-block;
	width:12%;
    position: relative;
    bottom: 2.2rem;
    text-align: right;
}
span.post-title {
    vertical-align: middle;
    line-height: normal;
    display: inline-block;
}
.post-content {
	width: 100%;
	margin-top: -25px;
}
.content .title {
	height:50px;
}
.card h2 {
	margin-bottom:0px;
}