.postContainer {
	text-align: center;
    width: 83%;
    margin: auto;
    margin-bottom: 0.8rem;
    padding: 1rem;
    max-width: 1200px;
}
.postSeparator {
	display: inline-block;
    width: 4%;
}
.left, .right {
	width: 47%;
    display: inline-block;
    text-align: left;
	vertical-align: text-top;
}
hr {
	border:0px;
}
.post-avatar {
	width:10%;
	display:inline-block;
	position: relative;
    bottom: 0.6rem;
}
.post-votes {
	width: 6%;
    display: inline-block;
    text-align: center;
}
.material-icons.votes {
	font-size:20px;
}
.small-spacer {
	display: inline-block;
	width:0.2em;
}
h4.post-title {
    display: inline-block;
    width: 64%;
    position: relative;
    bottom: 1.7rem;
    height: 54px;
    line-height: 54px;
    margin-left: 10px;
}
.post-timestamp {
	display:inline-block;
	width:12%;
    position: relative;
    bottom: 2.2rem;
    text-align: right;
}
span.post-title {
    vertical-align: middle;
    line-height: normal;
    display: inline-block;
}
.post-content {
	width: 100%;
	margin-top: -25px;
}
.content .title {
	height:50px;
}
.card h2 {
	margin-bottom:0px;
}


/* SHOW INFO */
#showInfo {
	min-height: 200px;
}
.poster {
	height: 200px;
	width: 136px;
	float: left;
}
.poster img {
	height: 100%;
	border: 4px solid white;
	box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.1);
}
#showInfo .infoContainer {
	width: auto;
	padding-left: 0.8rem;
	min-height: 200px;
	overflow: hidden;
}
#showInfo .infoContainer div {
	margin-bottom: 0.8rem;
}
.rating {
	float: right
}
.rating .material-icons {
	color: gold;
}
.infoContainer h4 {
	margin:0;
}
button.subscribed {
	background-color: rgb(83,149,0)
}
button.subscribed:hover {
	background-color: rgb(196,27,27);
}
button.subscribed:hover:before {
	content:"Unsubscribe"
}
button.subscribed:hover span {
	display:none;
}