.postContainer {
	text-align: center;
    width: 83%;
    margin: auto;
    margin-bottom: 0.8rem;
    padding: 1rem;
    max-width: 1200px;
}
.postSeparator {
	display: inline-block;
    width: 4%;
}
.left, .right {
	width: 47%;
    display: inline-block;
    text-align: left;
	vertical-align: text-top;
}
hr {
	border:0px;
}
.content .title {
	height: 50px;
}
.card h2 {
	margin-bottom:0px;
}
/* SHOW INFO */
#contentTitle, #numSubs {
	cursor: pointer;
}
.infoContainer h4 {
	margin:0;
}
button.subscribed {
	background-color: rgb(83,149,0)
}
button.subscribed:hover {
	background-color: rgb(196,27,27);
}
button.subscribed:hover:before {
	content:"Unsubscribe"
}
button.subscribed:hover span {
	display:none;
}
button.show-comments {
    width: 100%;
    margin-top: -0.8rem;
    margin-bottom: 0.8rem;
	height: 2rem;
    padding-bottom: 1em;
    line-height: 1rem;
	background-color: rgb(97,97,97);
}
button.show-comments:hover {
	background-color: rgb(117,117,117);
}
.card.large {
    margin-bottom: 0.5rem;
}
.discussion {
	width:100%;
	margin-bottom: 0.8rem;
}
/*NEW POST*/
.newpost {
	border: 1px solid rgba(0,0,0,0.1);
	background: #161616;
	box-shadow: 0 1px 2px 2px rgba(0,0,0,0.07);
	margin-bottom: 10px;
}
.newpost .info {
	padding: 10px;
}
.newpost .avatar {
	vertical-align: middle;
}
.newpost .info span:last-child {
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
}
.newpost .info span:last-child div:last-child {
	opacity: 0.7;
}
.newpost p, .newpost div {
	margin: 0;
	padding: 10px;
}
.newpost .postContent {
	margin-bottom:10px;
}
.modalButtons {
	display: flex;
	justify-content: flex-end;
	padding: 10px;
	border-top: 1px solid rgba(0,0,0,0.2);
}

textarea.title {
    height: 30px;
    margin-bottom: -1rem;
    font-size: large;
}
.add-img {
	float: right;
    margin-top: -13px !important;
    margin-left: -50px !important;
}
.addImagePopup {
	display:none;
	position: absolute;
	width: 50%;
	margin: auto;
	padding: 0.3rem;
	background-color: rgb(29, 29, 29);
	top: 80%;
	left: 96%;
	transform: translate(-96%, -80%);
}
textarea.small {
	height: 1rem;
	width: 50%;
	resize: none;
	overflow: hidden;
}
.addImagePopup .add-img {
	background:unset;
	display: inline-block;
    float: none;
    margin-left: 2px !important;
    margin-top: 0px !important;
}
.remove-img {
	width:20px;
	background-size: contain;
	display: inline-block;
}