/* SHOW INFO */
#showInfo {
	min-height: 200px;
}
.poster {
	height: 200px;
	width: 136px;
	float: left;
	cursor: pointer;
}
.poster img {
	height: 200px;
	width: 136px;
	border: 4px solid white;
	box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.1);
	position: absolute;
}
.poster .playContainer {
	width: 136px;
	height: 200px;
	opacity: 0.3;
	-webkit-transform: translateZ(0);
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-ms-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
}
.poster .playContainer:hover {
	opacity: 1;
}
.poster .play {
	background: url('../images/play.png') center no-repeat;
	background-size: auto 25%;
	width: 136px;
	height: 200px;
	position: absolute;
}
.poster .playContainer .gradient {
	background: black;
	background-size: auto 25%;
	width: 136px;
	height: 200px;
	position: absolute;
	opacity: 0.3;
}
#showInfo .infoContainer {
	margin-left: 136px;
	padding-left: 0.8rem;
	min-height: 200px;
	width: calc(100% - 136px);
}
#showInfo .infoContainer div {
	
}
.rating {
	float: right
}
.rating .material-icons {
	color: gold;
}
#showInfo .infoContainer #infoMain, #showInfo .infoContainer #infoDetails, #showInfo .infoContainer #infoButtons {
	margin-bottom: 0.8rem;
}
#infoButtons {
	display: flex;
	justify-content: space-around;
}
#showInfo .infoContainer div:last-child {
	margin-bottom: 0;
}
/* ACTORS */
.actor {
	width: 140px;
	display: inline-block;
	margin-right: 10px;
	cursor: pointer;
}
.actor img {
	display: block;
	height: 200px;
	width: 140px;
	object-fit: cover;
}
.actor .info {
	background-color: #161616;
	padding: 5px;
	line-height: 1.2em;
	text-align: center;
}
.actor .info .name {
	margin: 0;
	padding: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: normal;
	color: #dadada;
}
.actor .info .character {
	margin: 0;
	padding: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: normal;
	font-size: small;
	color: #dadada;
	opacity: 0.7
}
/* REVIEWS */
.review {
	border: 1px solid rgba(0,0,0,0.1);
	background: #161616;
	box-shadow: 0 1px 2px 2px rgba(0,0,0,0.07);
	margin-bottom: 10px;
}
.review .info {
	padding: 10px;
}
.review .avatar {
	height: 48px;
	width: 48px;
	border: 2px solid #fff;
	border-radius: 50%;
	box-shadow: 0 1px 2px 2px rgba(0,0,0,0.07);
	vertical-align: middle;
	object-fit: cover;
}
.review .info span:last-child {
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
}
.review .info span:last-child div:last-child {
	opacity: 0.7;
}
.review p {
	margin: 0;
	padding: 10px;
}
.review .score {
	border-top: 1px solid rgba(0,0,0,0.2);padding: 10px;
}
.review .score span:first-child {
	vertical-align: middle;
}
.review .score .material-icons {
	cursor: pointer;
	vertical-align: middle;
}
.review .score .average {
	float: right;
	vertical-align: middle;
}
/* MISC */
.selected {
	border-bottom: 1px solid white;
}
.modalButtons {
	display: flex;
	justify-content: flex-end;
	padding: 10px;
	border-top: 1px solid rgba(0,0,0,0.2);
}
.seasonSelector {
	margin-right: 5px;
}