.contentContainer {
  display: inline-block;
  width: 280px;
  cursor: pointer;
  margin-right: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.recom-title {
	width: 100%;
  text-align: left;
  cursor: default;
  padding-top: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.recom-title .avatar {
  vertical-align: middle;
}
.recom-title span {
  vertical-align: middle;
  margin: 0 5px 0 5px;
}
.recom-title a {
  vertical-align: middle;
  margin: 0 5px 0 5px;
}
.recom-name {
	font-weight: bold;
	text-decoration: underline;
}