html {
  height: 100%;
  box-sizing: border-box;
  background-color: #f1f1f1;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Roboto","Helvetica Neue",Arial,sans-serif;
  color: #333333;
}
header {
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  padding: 1rem;
  background-color: #222;
  color: #fff;
  display:flex;
  z-index:1000;
}
footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #000;
  z-index:1000;
}
footer .copyright {
  display: inline-block;    
  width: 100%;
  max-width: 230px;
  color: #777;
  font-size: 0.8em;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  text-align:center;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
.header-logo {
  width:10%;
  height:10%;
  margin-left: 2% !important;
  margin-right: 3% !important;
}
.searchbar {
  width:90%;
  padding:10px;
  font-size:medium;
}
.search {
  width:45%;
}
.automargins {
  margin:auto;
  display:inline-flex;
}
.avatar-small {
  max-height:44px;
  max-width:44px;
  clip-path:circle(18px at center);
}
.avatar-out {
  width:3%;
  margin-right:2%;
}
.perc30 {
  width:30%;
}
.perc10 {
  width:10%;
}
.perc50 {
  width:50%;
}
.xx-large {
  font-size: xx-large !important;
}
.perc5 {
  width:5%;
}
.notif-alert {
  position: absolute;
  top: 39%;
  left: 89.7%;
  font-size: small;
  color: black;
  font-weight: bold;
  text-align:center;
  width:1%;
  pointer-events: none;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
.notif-popup {
  visibility:hidden;
  top: 4.5rem;
  position: fixed;
  left: 70%;
  background-color: rgba(187,187,187,0.75);
  color: #111;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  z-index: 2000;
  width: 25%;
  padding: 10px;
}
.notif-popup::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 78%;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent rgba(187,187,187,0.75) transparent;
}
.showpopup {
  visibility:visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}
.pointnclick {
  cursor: pointer;
}
.user-popup {
  left: 83%;
  width:15%;
}