header {
    position: fixed;
    height: 82px;
    width: 100%;
    padding: 1rem;
    text-align: right;
    top: 0;
    background: #222;
    box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.1);
}
header .logo{
    height: 50px;
    float: left;
}
header nav{
    height: 1em;
}
header nav ul li {
    list-style-type: none;
    display: inline-block;
    padding-right: 30px;
    font-size: 14px;
}
header a {
    color: #fff;
    text-decoration: none;
}
header a:hover {
    color: rgb(128, 196, 255);
    text-decoration: none;
}
.parallax { 
    margin-top: 82px;
    background-image: url("../images/banner.jpg");
    height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax .content {
    padding: 2rem;
    color: white;
    text-shadow: 1px 1px 2px black;
}
.parallax .launch {
	display: flex;
	justify-content: center;
}
.parallax .launch a, .parallax .launch a:visited {
	background-color: rgb(40, 115, 255);
	color: #fff;
	text-decoration: none;
	padding: 10px;
	border-radius: 5px;
    box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.1);
}
.parallax .launch a:hover, .parallax .launch a:active, .parallax .launch a:focus {
	text-decoration: none;
    box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.2);
}
main {
    margin: 0 auto;
    max-width: 760px;
    width: 94%;
    padding: 1rem;
    color: #fff;
}
.people {
    text-align: center;
}
.person {
    display: inline-block;
    margin-right: 10px;
    width: 128px;
    text-align: center;
}
.avatar {
    height: 128px;
    width: 128px;
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 1px 2px 2px rgba(0,0,0,0.07)
}
article {
    padding: 1rem;
    background-color: rgba(29, 29, 29, 0.7);
    box-shadow: 0 1px 2px 2px rgba(0,0,0,0.07);
    margin-bottom: 10px;
}
article .posted {
    font-size: 0.8em;
    color: rgba(255,255,255,0.6);
}
.figures {
    display: flex;
    overflow-x: scroll;
}
figure {
    text-align: center;
}
figure img {
    box-shadow: 0px 2px 12px 0px #00000042;
}
figure figcaption {
    margin-top: 0.5em;
    font-size: 0.8em;
}
a {
    color: rgb(128, 196, 255);
}