/* GENERAL */
html {
  height: 100%;
  box-sizing: border-box;
  background-color: #3a3a3a;
  min-width: 1000px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  color: #dadada;
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Roboto","Helvetica Neue",Arial,sans-serif;
  color: #dadada;
}
/* MATERIAL ICONS */
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  text-align:center;
  cursor: default;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
/* MAIN */
main {
  width: 95%;
  margin: auto;
  position: relative;
  top: 90px;
  text-align: justify;
  padding-bottom: 5rem;
  overflow-x: hidden;
}
/* FOOTER */
footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #000;
  z-index:1000;
}
footer .copyright {
  display: inline-block;    
  width: 100%;
  max-width: 230px;
  color: #777;
  font-size: 0.8em;
}
/* HEADER/NAVBAR */
header {
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  padding: 1rem;
  background-color: #222;
  color: #fff;
  display:flex;
  z-index:1000;
  box-shadow: 0 0 4px 3px rgba(0,0,0,0.25);
  justify-content: center;
  flex-direction: row;
  min-width: 1000px;
}
.header-logo {
  width:10%;
  height:10%;
  margin-left: 2% !important;
  margin-right: 3% !important;
}
header .logo {
	width: 100%;
    height: 100%;
}
.searchbar {
  width:90%;
  padding:10px;
  font-size:medium;
}
.search {
  width:45%;
}
.automargins {
  margin:auto;
  display:inline-flex;
}
.search button i.material-icons {
  cursor: pointer;
}
.avatar-out {
  width:3%;
  margin-right:2%;
}
.perc30 {
  width:30%;
}
.perc10 {
  width:10%;
}
.perc50 {
  width:50%;
}
.xx-large {
  font-size: xx-large !important;
}
.perc5 {
  width:5%;
}
.notif-alert {
  position: absolute;
  top: 39%;
  left: 89.7%;
  font-size: small;
  color: black;
  font-weight: bold;
  text-align:center;
  width:1%;
  pointer-events: none;
}
a.toplinks {
  font-variant:small-caps;
  font-size:larger;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
.notif-popup {
  visibility:hidden;
  top: 4.5rem;
  position: fixed;
  left: 70%;
  background-color: rgba(187,187,187,0.9);
  color: #111;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  z-index: 2000;
  width: 25%;
  padding: 10px;
}
.notif-popup::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 78%;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent rgba(187,187,187,0.9) transparent;
}
.showpopup {
  visibility:visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}
.pointnclick {
  cursor: pointer;
}
.user-popup {
  left: 83%;
  width:15%;
}
/* AVATAR */
.avatar {
  background-color: #000;
  height: 48px;
  width: 48px;
  border: 1px solid #fff;
  border-radius: 50%;
  box-shadow: 0 1px 2px 2px rgba(0,0,0,0.07);
  object-fit: cover;
}
.avatar.huge {
  height: 128px;
  width: 128px;
}
.avatar.large {
  height: 100px;
  width: 100px;
}
.avatar.medium {
  height: 68px;
  width: 68px;
}
.avatar.small {
  height: 36px;
  width: 36px;
}
.avatar.tiny {
  height: 18px;
  width: 18px;
}
/* CARDS */
.card { 
  margin: auto;
  margin-bottom: 0.8rem;
  padding: 1rem;
  width: 80%;
  max-width: 1200px;
  background-color: rgba(29, 29, 29, 0.7);
  box-shadow: 0 1px 2px 2px rgba(0,0,0,0.07);
}
.card.large {
  width:100%;
  max-width:none;
}
.card h1 {
  display: inline-block;
  margin: 0;
}
.card h2, .card h3 {
  margin: 0;
  margin-bottom: 1rem;
}
/* INPUTS */
button, select {
  display: inline-block;
  height: 2.8em;
  font-size: medium;
  padding: 0.6em;
  border: 0;
  background-color: rgb(66,107,189);
  color: #dadada;
  box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.1);
}
button{ 
  text-align: center;
}
button:hover, button:focus, button:active, select:hover, select:focus {
  cursor: pointer;
  border: 0;
  background-color: rgb(86,127,209);
  color: #fff;
    box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.2);
}
button.wide, select.wide {
  width: 100%;
}
button.large, select.large {
  width: 16em;
}
button.normal, select.normal {
  width: 10em;
}
button.small, select.small {
  width: 8em;
}
button.tiny, select.tiny {
  width: 4em;
}
button:disabled, button:disabled:hover {
  background-color: rgba(66,107,189,0.3);
  color: rgba(218, 218, 218, 0.3);
  cursor: not-allowed;
}
.score .material-icons {
  opacity: 0.7;
}
.score .material-icons.active{
  opacity: 1;
  color: rgb(86,127,209);
}
/* DROPDOWN */
.dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 0!important;
}
.dropdownContent {
    display: none;
    position: absolute;
    background-color: rgb(56,97,179);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
}
.dropdownContent.large {
    width: 16em;
}
.dropdownContent.normal {
    width: 10em;
}
.dropdownContent.small {
    width: 8em;
}
.dropdownContent.tiny {
    width: 4em;
}
.dropdown:hover .dropdownContent {
    display: block;
}
.dropdown button {
  cursor: default;
}
.dropdown button.align-left {
  text-align: left;
}
.dropdownEntry {
  line-height: 24px;
  padding: 10px;
}
.dropdownEntry:hover {  
    background-color: rgb(46,87,169);
}
.dropdownEntry i {
  float: right;
}
.dropdownEntry, .dropdownEntry span, .dropdownEntry i {
  cursor: pointer;
}
/* TEXTAREA */
textarea {
  background-color: #b4b4b4;
  width: 100%;
  height: 120px;
}
/* NEW CHECKBOXES */
.container {
  display: inline-block;
  position: relative;
  padding-left: 20px;
  cursor: pointer;
  font-size: medium;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container input {
  position: absolute;
  opacity: 0;
}
.checkmark {
  position: absolute;
  top: 1px;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
}
.container:hover input ~ .checkmark {
  background-color: #ccc;
}
.container input:checked ~ .checkmark {
  background-color: rgb(66,107,189);
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.container input:checked ~ .checkmark:after {
  display: block;
}
.container .checkmark:after {
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* SCROLLBARS */
/* this won't work on firefox sadly */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
    background-color: #545454;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    background-color: #b3b3b3;
}
/* CONTENT */
.contentList {
  overflow-y: hidden;
  white-space: nowrap;
  height: -moz-fit-content;
  height: fit-content;
}
.content {
  display: inline-block;
  width: 280px;
  height: 160px;
  position: relative;
  cursor: pointer;
  margin-right: 10px;
}
.content.high {
  height: 135px;
  width: 175px;
}
.content.smaller {
  height: 135px;
  width: 175px;
}
.content .thumbnail {
  background-color: black;
  width: 280px;
  height: 160px;
  position: absolute;
  object-fit: cover;
}
.content .gradient {
  height: 75px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
  background-image: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
  background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
  background-repeat: repeat-x;
}
.content .title {
  color: #fff;
  text-shadow: 0 0 20px black;
  font-size: 18px;
  width: 280px;
  padding: 5px;
  height: 28px;
  position: absolute;
  bottom: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content .title span {
  margin: 0 5px 0 5px;
}
.content .rating {
  color: #fff;
  text-shadow: 0 0 20px black;
  font-size: 16px;
  width: 280px;
  padding: 5px;
  height: 28px;
  position: absolute;
  top: 0;
  text-align: right;
}
.content .playContainer {
  width: 280px;
  height: 160px;
  opacity: 0.3;
  -webkit-transform: translateZ(0);
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
.content .playContainer:hover {
  opacity: 1;
}
.content .play {
  background: url('../images/play.png') center no-repeat;
  background-size: auto 50%;
  width: 280px;
  height: 160px;
  position: absolute;
}
.content .playContainer .gradient {
  background: black;
  background-size: auto 50%;
  width: 280px;
  height: 160px;
  position: absolute;
  opacity: 0.3;
}
.content .username {
  color: #fff;
  text-shadow: 0 0 20px black;
  font-size: 18px;
  width: 175px;
  padding: 5px;
  height: 28px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* OVERLAY */
#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255,255,255,0.5);
  z-index: 9001;
}
.modal {
  margin: auto;
  margin-bottom: 0.8rem;
  width: 80%;
  max-width: 1200px;
  background-color: rgba(29, 29, 29, 0.7);
  box-shadow: 0 1px 2px 2px rgba(0,0,0,0.07);
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
/* SNACKBAR */
/* Credit: https://www.w3schools.com/howto/howto_js_snackbar.asp */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -180px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 10000; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}
#snackbar.show {
    visibility: visible; /* Show the snackbar */
/* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}
@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}
@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
/* POST INFO */
.post-top {
}
.post-avatar {
  display:inline-block;
  vertical-align: middle;
}
.post-avatar.comment {
  float: left;
  margin: 14px 0;
}
.post-votes {
  display: inline-block;
  height: 68px;
  margin: 0 10px 0 10px;
  vertical-align: middle;
    text-align: center;
}
.post-votes.comment {
  float: left;
}
.material-icons.votes {
  font-size: 20px;
}
h4.post-title {
  display: inline-block;
  vertical-align: middle;
  width: 60%;
}
h4.post-title.comment {
  font-weight: normal;
}
.post-timestamp {
  display:inline-block;
  vertical-align: middle;
  float: right;
  line-height: 68px;
}
.post-image {
  display: block;
  max-width:100%;
  margin: 5px 0;
}
.post-content {
  margin-top: 10px;
  width: 100%;
}
/* YOUTUBE EMBED */
.videoContainer {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.videoContainer .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* SHOW INFO */
#showInfo {
  min-height: 200px;
}
.poster {
  height: 200px;
  width: 136px;
  float: left;
  cursor: pointer;
}
.poster img {
  height: 200px;
  width: 136px;
  border: 4px solid white;
  box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.1);
  position: absolute;
}
#showInfo .infoContainer {
  margin-left: 136px;
  padding-left: 0.8rem;
  min-height: 200px;
  width: calc(100% - 136px);
}
.rating {
  float: right
}
.rating .material-icons {
  color: gold;
}
/* MISC */
a {
  color:antiquewhite;
  text-decoration:none;
  font-weight:bold;
}
a:hover {
  text-decoration: underline;
}
.spacer {
  display: inline-block;
  width: 1em;
}
.img-thumbnail {
  background-color: black;
  width: 280px;
  height: 160px;
}
.current {
  text-decoration: underline;
}
.gradient-top {
    height: 75px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
    background-image: -o-linear-gradient(bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
    background-image: linear-gradient(to top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
    background-repeat: repeat-x;
}
.center {
	text-align: center;
}
.rating .material-icons {
  color: gold;
}
.notif-item {
  border-radius: 6px;
  background-color: rgba(255,255,255,0.9);
}
.notif-img {
  width: 10%;
  margin: 5px auto;
  display: inline-block;
}
.notif-text {
  display: inline-block;
  width: 85%;
  text-align: justify;
  float: right;
  margin-top: 3px;
  padding-right: 10px;
  font-size:small;
}
.user-defs {
  padding: 5px;
}
.user-option {
  border-top: 1px inset black;
  margin: 5px -5px;
  padding-top: 5px;
}