html {
	background-color: #3a3a3a;
}
body {
	color:#dadada;
}

a.toplinks {
	font-variant:small-caps;
	font-size:larger;
}
a {
	color:antiquewhite;
	text-decoration:none;
	font-weight:bold;
}
header {
    justify-content: center;
    flex-direction: row;
}
main {
	width:95%;
	margin:auto;
	position:relative;
	top:90px;
	text-align:justify;
	padding-bottom:5rem;
  	overflow-x:hidden;
}

/* this won't work on firefox sadly */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
    background-color: #545454;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    background-color: #b3b3b3;
}