.rating span {
  vertical-align: middle;
}
.rating .material-icons {
  vertical-align: middle;
  padding-bottom: 1px;
  padding-left: 5px;
}
.username {
  color: #fff;
  text-shadow: 0 0 20px black;
  font-size: 18px;
  width: 175px;
  padding: 5px;
  height: 28px;
  text-align: center;
}
.user-thumbnail {
  background-color: black;
  width: 100px;
  height: 100px;
  clip-path: circle(50px at center);
}
.content.smaller {
  height: 100px;
  width: 175px;
}
.year {
  /*background-color: #b4b4b4;*/
  /*height: 2.8em;
  border-color: transparent;
  background-color: rgb(66,107,189);
  box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.1);
  color: #dadada;
  padding: 10px;
  font-size: medium;
  width: 4em;*/
  height: 2em;
  border-color: transparent;
  border-bottom: 2px solid rgb(66,107,189);
  background-color: transparent;
  color: #dadada;
  padding: 10px;
  font-size: medium;
  width: 4em;
}
.material-icons.filterIcon {
  float: none;
}