#showInfo {
	min-height: 200px;
}
.poster {
	height: 200px;
	width: 136px;
	float: left;
}
.poster img {
	height: 100%;
	border: 4px solid white;
	box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.1);
}
#showInfo .infoContainer {
	width: auto;
	padding-left: 0.8rem;
	min-height: 200px;
	overflow: hidden;
}
#showInfo .infoContainer div {
	margin-bottom: 0.8rem;
}
.rating {
	float: right
}
.rating .material-icons {
	color: gold;
}
#showInfo .infoContainer div:nth-child(3) {
	display: flex;
	justify-content: space-around;
}
#showInfo .infoContainer div:last-child {
	margin-bottom: 0;
}